*{
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 8%);}
.container{
    font-family: 'Inter';
    color: white;
    background-color: hsl(0, 0%, 12%);
    width: 2.5vw;
    margin: auto;
    margin-top: 200px;
    padding: 20px 20px;
    border-radius: 5px;
    min-width: 350px;
}
.container h1, h4, p{
    text-align: center;
    line-height: 16px;
}
.container h1 {
    font-size: 1.8rem;
    font-weight: 700;
}
.container h4 {
    font-size: 14px;
}
.container h4{
    color: hsl(75, 94%, 57%);
    font-weight:600;
}
.container p{
    margin: 24px 0;
    font-size: 14px;
    font-weight:500;
}
.info img{
    display:block;
    margin:28px auto;
    border-radius: 100px;
    width: 28%;

}
ul{
    width: 100%;
    list-style: none;}
li{
    font-weight: 600;
    font-size: 14px;
    display: block;
    list-style: none;
    text-align: center;
    padding: 12px 0;
    margin: 4% auto;
    width: 85%;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    transition: background-color  200ms;
}
li:hover{
    background-color: hsl(75, 94%, 57%) ;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
.attribution{
    text-align: center;
    margin-top: 10px;
    color: white;
}
